<div class="container-bigCard">
    <!-- mock - conteudo gravado depois deixamos dinamico -->
    <div class="bigCard-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5fxfhww25ysyMkq_IELQsXvEtbPHIM_fHUQ&usqp=CAU" 
        alt=""
        height="250px">
    </div>
    <div class="bigCard-title">
        <h1><a href="#">Novo post em meu blog desenvolvido em JS + Angular</a></h1>
    </div>
    <div class="bigCard-content">
        <p>Esse conteudo é apenas de teste segue como ilustração de blog do curso de java + angular</p>
    </div>
</div>