<div class="containerSmallCard">
    <div class="containerSmallCardContent">
        <div class="smallCard-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTnidpBjrfmTXzBJUIhKN_GC8LVUwW85coPg&usqp=CAU" 
            alt=""
            height="100px">
        </div>
        <div class="smallCard-title">
            <h1><a href="#">Novo post em meu blog desenvolvido em JS + Angular</a></h1>
        </div>
    </div>
    <!-- mock - conteudo gravado depois deixamos dinamico -->
    <div class="containerLine">
        <hr>
    </div>

</div>
