.containerSmallCard {
    /* border: 1px solid white; */
    width: 700px;
    font-size: 9px;
    margin-bottom: 15px;


}

.containerSmallCardContent{
    display: flex;
    flex-direction: row;
}

.smallCard-img > img {
    width: 200px;
    min-width: 200px;

    margin-right: 20px;

}

.smallCard-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLine {
    margin-top: 10px;
}