<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="containerArticles">
    <div class="articlesMain">
        <app-big-card 
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4XzjTBpypdwHK4LBbSwV8u7bZhXPwg0AyqA&usqp=CAU" 
        titleNew="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        contentNew="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula malesuada cursus. Sed lacinia ex metus, vel tincidunt mauris sollicitudin quis. Duis a mattis odio, efficitur sodales ante. Maecenas pretium, mi at ullamcorper lacinia, elit diam efficitur eros, nec mattis orci lectus eu ipsum.">
    </app-big-card>
    </div>
    <div class="articlesOthers">
        <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTnidpBjrfmTXzBJUIhKN_GC8LVUwW85coPg&usqp=CAU"
        cardTitle="Emissão de nota fiscal para quem é MEI muda a partir de hoje; entenda"    
        ></app-small-card>
        <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7tM4bMeL6A-MoBrUhnD8RyuLl592mrrG3cw&usqp=CAUd=2ahUKEwj6hoi9kYqBAxWDM7kGHRNQAPsQMygAegQIARB1"
        cardTitle="Crescimento do PIB precisa ser distribuído"
        ></app-small-card>
        <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2-QRJouxxYMv_NoMXSLkKR6OXbz2oxwKEGQ&usqp=CAU"
        cardTitle="novo treinador da seleção brasileira feminina"
        ></app-small-card>
    </div>
</div>
